@font-face {
    font-family: Gilroy;
    src: url(./font/Gilroy-Bold.ttf);
}

@font-face {
    font-family: neu;
    src: url(./font/NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(./font/NeueHaasDisplayLight.ttf);
}
@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(./font/NeueHaasDisplayRoman.ttf);
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,body{
    height: 100%;
    width: 100%;
    /* background-color: #EFEAE3; */
}
#main{
    z-index: 10;
    position: relative;
    /* background-color: #EFEAE3; */
}
#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav{
    padding: 2vw 2vw;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}
#nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4{
    padding: 10px 20px;
    border:1px solid #8a8a8a89;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    position: relative;
    transition: all ease 0.4s;
    font-size: 18px;
    overflow: hidden;
}

#nav-part2 h4::after{
    content: "";
    left: 0;
    bottom:-100%;
    border-radius: 50%;
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    transition: all ease 0.4s;
    color: white;
}

#nav-part2 h4:hover::after{
    z-index: 1;
    bottom: 0;
    border-radius: 50px;
    color: white;
}

#nav-part2 h4 a{
    text-decoration: none;
    color: #000000bb;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a{
    color: white;
}

#center{
    display: flex;
    background-color: transparent;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 80vh;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 3.5vw;
    padding-left: 2vw;
}

#left h3{
    width: 25vw;
    font-size: 2vw;
    line-height: 2vw;
    font-family: neu;
}
#center h1{
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}

#page1 video{
    position: relative;
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
}

#hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 85vh;
}

#hero-1{
    position: absolute;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: orangered;
    filter: blur(20px);
}

#hero-2{
    position: absolute;
    height: 30vw;
    width: 30vw;
    border-radius:50%;
    background:linear-gradient(orangered,#fe570a);
    filter: blur(15px);
    animation: anime2 4.5s linear infinite alternate;
}

#hero-3{
    position:absolute;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    background:linear-gradient(orangered,#fe570a);
    filter: blur(25px);
    animation: anime1 2.5s linear infinite alternate;
}

@keyframes anime1 {
    from{
        transform: translate(35%,-10%);
    }

    to{
        transform: translate(0%,10%);
    }
}

@keyframes anime2 {
    from{
        transform: translate(5%,-5%);
    }
    to{
        transform: translate(-20%,30%);
    }
    
}

#page2{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #EFEAE3;
}

.con{
    white-space: nowrap;
    display: inline-block;
    animation: move 10s linear infinite;
}

#moving-text h1{
    font-size: 9vw;
    display: inline-block;
}

#gola{
    margin: 1vw 2vw;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    background-color: orangered;
}

#moving-text::-webkit-scrollbar{
    display: none;
}

#moving-text {
    overflow-x: auto;
    white-space: nowrap;
}

@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }

}

#page2-bottom{
    height: 80vh;
    width: 100%;
    padding: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page2-bottom h1{
    font-size: 4vw;
    position: relative;
    z-index: 9;
    width: 65%;
    line-height: 3.7vw;
}

#bottom-part2{
    margin-top: 40%;
    width: 20%;
    /* background-color: aqua; */
}

#bottom-part2 img{
    width: 100%;
    border-radius: 15px;
} 
#bottom-part2 p{
    font-weight: 100;
    margin-top: 2vw;
    font-size: 1vw;
}

#page2 #gooe{
    height: 35vw;
    width: 35vw;
    position: absolute;
    border-radius: 50%;
    top: 48%;
    left: 25%;
    filter: blur(35px);
    background-color: #fe330a;
    animation: gooe 3s ease-in-out infinite alternate;
}

@keyframes gooe {
    from{
        transform: translate(10%,-10%) skew(0);
    }
    to{
        transform: translate(-10%,10%) skew(-12deg);
    }
}

#bottom-text{
    margin-top: 10vw;
    margin-left: 2vw;
}

#bottom-text1 ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#bottom-text2 ul{
    list-style-type: none;
    padding: 0;
    margin-top: 7vw;
}
#bottom-text2 ul li{
    font-weight: 100;
    font-size: 1vw;
    margin-left: 3.5vw;
    font-family: Arial, Helvetica, sans-serif;
}

#bottom-text1 ul li{
    font-weight: 100;
    font-size: 1vw;
    margin-left: 1vw;
    font-family: Arial, Helvetica, sans-serif;
}

#bottom-text1 ul li::before {
  content: "•";
  color: orangered;
  font-size: 24px;
  margin-right: 6px;
}

#bottom-text2 ul li::before {
  content: "•";
  color: orangered;
  font-size: 24px;
  margin-right: 6px;
}

#page3{
    min-height: 100vh;
    width: 100%;
    padding: 4vw 0;
    background-color: #EFEAE3;
}

.elem{
    height: 120px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #dacece;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.elem h2{
    z-index: 1;
    font-size: 3vw;
    margin-left: 20px;
}

.elem .overlay{
    height: 100%;
    width: 100%;
    background-color:#FF9831;
    position:absolute;
    left: 0;
    top: -100%;
    transition: all 0.2s ease;
}

.elem:hover .overlay{
    top: 0;
}

.text {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-2{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
}

.text-2 h4:nth-child(2){
    color: rgba(0, 0, 0, 0.336);
}

#fixed-image{
    height: 30vw;
    width: 24vw;
    border-radius: 10px;
    position: fixed;
    z-index: 11;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease-in-out;
}

#project h4{
    margin-top: 2vw;
    margin-bottom:9vw ;
    margin-left: 2vw;
    padding: 12px 20px;
    border:1px solid #8a8a8a89;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    position: relative;
    width: 10%;
    transition: all ease 0.4s;
    font-size: 18px;
    overflow: hidden;
}

#project h4::after{
    content: "";
    left: 0;
    bottom:-100%;
    border-radius: 50%;
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    transition: all ease 0.4s;
    color: white;
}

#project h4:hover::after{
    z-index: 1;
    bottom: 0;
    border-radius: 50px;
    color: white;
}

#project h4 a{
    text-decoration: none;
    color: #000000bb;
    position: relative;
    z-index: 9;
}

#project h4:hover a{
    color: white;
}


#black-box {
    height: 110vh;
    margin: 0vw 2vw;
    background-color: black;
    border-radius: 21px;
    display: flex;
    align-items: center;
}

#black-box #tab-sec {
    color: #EFEAE3;
    display: flex;
    flex-direction: column;
    padding: 0 9vw;
    gap: 14px;
}

#tabs {
    position: relative;
    border-left: 2px solid #504a45;  
}

#tab-sec h2 {
    font-family: sun-mediu;
    font-size: 4.5vw;
    font-weight: bolder;
    position: relative;
    cursor: pointer;
    color: #504A45;
}
#tabs h2 a {
    padding-left: 2vw;
    position: relative;
    text-decoration: none;
}
#desc {
    display: block;
    unicode-bidi: isolate;
}

#page3-image {
    width: 60%;
    height: 100%;
    background-size: cover;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
}

#page4{
    height: 70vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 1vw 2vw;
}

.swiper {
      width: 100%;
      height: 60%;
    }

    .swiper-slide {
      width: 18%;
      cursor: grab;
      border-left: 1px solid #aeadad;
    }

    .swiper-slide img,p{
        margin-left: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1vw;
        color:#2a2929f4;
        cursor: grab;
    }
    .swiper-slide p{
        margin-top: 1vw;
    }

#page5{
    height: 150vh;
    width: 100%;
}

#footer {
    position: fixed;
    height: 105vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    z-index: 9;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 2vw;
}

#footer-div {
    z-index: 1;
    padding: 1vw 4vw;
    color: #EFEAE3;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#footer-div-left ul{
    display: flex;
    line-height: 2.5vw;
    flex-direction: column;
    list-style: none;
    font-size: 2vw;
    justify-content: space-between;
}

#footer-div-right{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 2vw;
    margin-right: 4.5vw;
}

#footer-div-right h3 {   
    line-height: 1.5vw;
    display: inline-block;
    font-size: 1.3vw;
    font-weight: 2;
    font-family: Arial, Helvetica, sans-serif;
}

input::placeholder{
    position: absolute;
    left: 0;
    color: #D8B5A5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
}

#footer-div-right input{
    width: 19vw;
    padding: 1vw 2vw;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #aeadad;
}
#footer h1 {
    font-size: 23vw;
    z-index: 1;
    color: #EFEAE3;
}

#footer-bottom{
    border-top: 1px solid #dadada51;
    height:4vh;
    width: 100%;
}

#footer-bottom ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

#footer-bottom ul li{
    font-family: Arial, Helvetica, sans-serif;
    color: #EFEAE3;
}

#footer #shape1 {
    position: absolute;
    background-color: #fe330a;
    filter: blur(50px);
    top: -50%;
    left: -20%;
    width: 90%;
    height: 90%;
    animation: shape1 3s linear infinite alternate;
}
@keyframes shape1 {
    0% {
    transform: rotate(-10deg);
}
100% {
    transform: rotate(-20deg);
}
}

#footer #shape2 {
    position: absolute;
    background-color: #fe330a;
    filter: blur(50px);
    right: -27%;
    top: -27%;
    width: 70%;
    height: 90%;
    animation: shape2 4s linear infinite alternate;
}

@keyframes shape2 {
 0% {
    transform: rotate(30deg);
}
100% {
    transform: rotate(45deg);
}
}

#loader{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 100;
    transition: all 1s ease-in-out;
}

#loader h1{
    position: absolute;
    font-size: 7vw;
    color: #fff;
    opacity: 0;
    background: linear-gradient(to right, orange, orangered);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: load 1s linear 1s;
}

#loader h1:nth-child(2){
    animation-delay: 2s;
}

#loader h1:nth-child(3){
    animation-delay: 3s;
}

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
