*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    padding: 50px;
}
 
#hero1{
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position:absolute;
    filter: blur(20px);
    background-color: orangered;

}

#hero2{
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    filter: blur(20px);
    background-color: orangered;
    animation: anime 3s linear infinite;
    animation-direction: alternate;
}

@keyframes anime {
    from{
        transform: translate(-10%,-10%);
    }
    to{
        transform: translate(10%,10%);
    }
}
